@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kalam:wght@300;400;700&display=swap");

/*Variables*/
:root {
  --specialOverLay: #037f816d;
  --specialBlue: #008381;
  --specialPink: rgb(254, 183, 224);
  --specialPinkOverLay: rgba(254, 183, 224, 0.639);
  --laceWhite: antiquewhite;
  --gold: rgb(199, 169, 1);
  --lightgold: gold;
  --darkgold: rgb(157, 134, 0);
}

.App {
  text-align: center;
  font-family: "Kalam";
}

/*MainPage*/
#mainContainer {
  background-image: url("./components/assets/slowspinClouds.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  position: relative;
}
#mainContainerOverlay {
  height: 100dvh;
  width: 100dvw;
  background-image: linear-gradient(
    45deg,
    var(--specialOverLay),
    var(--specialPinkOverLay)
  );
  animation: mainLightsOverlay 10s linear infinite;
}

.capitals {
  position: absolute;
  font-family: "Great Vibes";
  font-size: 50pt;
  color: var(--gold);
  top: 24%;
  transition: top 1s ease-in-out;
}
#capitalH {
  right: 48%;
}
#capitalS {
  left: 37%;
  z-index: 1;
}
#banner {
  height: 85px;
  width: 100%;
  padding: 0.2em;
  border-top: 1pt solid var(--lightgold);
  border-bottom: 1pt solid var(--darkgold);
  background-color: white;
  font-family: "Great Vibes";
  font-size: 50pt;
  position: absolute;
  top: 40%;
  color: var(--gold);
  transition: height 1s ease-in-out;
}
.title {
  transition: opacity 1s ease-in-out;
}
#banner:hover {
  height: 150px;
}
#banner:hover .capitals {
  top: 10%;
}
#banner:hover .title {
  opacity: 0;
}
.space {
  margin-left: 1.2em;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes mainLightsOverlay {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  40% {
    background-image: linear-gradient(
      135deg,
      var(--specialOverLay),
      var(--specialPinkOverLay)
    );
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  75% {
    background-image: radial-gradient(
      var(--specialOverLay),
      var(--specialPinkOverLay)
    );
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
