@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kalam:wght@300;400;700&display=swap");

/*Variables*/
:root {
  --specialOverLay: #037f816d;
  --specialBlue: #008381;
  --specialPink: rgb(254, 183, 224);
  --specialPinkOverLay: rgba(254, 183, 224, 0.639);
  --laceWhite: antiquewhite;
  --gold: rgb(199, 169, 1);
  --lightgold: gold;
  --darkgold: rgb(157, 134, 0);
}

.App {
  text-align: center;
  font-family: "Kalam";
}

/*MainPage*/
#mainContainer {
  background-image: url("./components/assets/slowspinClouds.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  position: relative;
}
#mainContainerOverlay {
  height: 100dvh;
  width: 100dvw;
  background-image: linear-gradient(
    45deg,
    var(--specialOverLay),
    var(--specialPinkOverLay)
  );
  animation: mainLightsOverlay 10s linear infinite;
}

.capitals {
  position: absolute;
  font-family: "Great Vibes";
  font-size: 50pt;
  color: var(--gold);
  top: 24%;
}
#capitalH {
  right: 48%;
  transition: right 1s ease-in-out, top 1s ease-in-out;
}
#capitalS {
  left: 37%;
  z-index: 1;
  transition: left 1s ease-in-out, top 1s ease-in-out;
}
#banner {
  height: 85px;
  width: 100%;
  padding: 0.2em;
  border-top: 1pt solid var(--lightgold);
  border-bottom: 1pt solid var(--darkgold);
  background-color: white;
  font-family: "Great Vibes";
  font-size: 50pt;
  position: absolute;
  top: 40%;
  color: var(--gold);
  transition: height 1s ease-in-out;
}
.title {
  height: 83px;
  transition: opacity 1s ease-in-out, height 1s ease-in-out;
}
#banner:hover,
#banner:focus-within {
  height: 150px;
}

#banner:hover .capitals,
#banner:focus-within .capitals {
  top: 10%;
}
#banner:hover #capitalS,
#banner:focus-within #capitalS {
  left: 22%;
}
#banner:hover #capitalH,
#banner:focus-within #capitalH {
  right: 73%;
  top: 30%;
}
#banner:hover .title,
#banner:focus-within .title {
  opacity: 0;
  height: 49px;
}
.space {
  margin-left: 1.2em;
}
#MainPageSlideContainer {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20pt;
  transform: translateX(1100px);
  opacity: 0;
  transition: transform 1s ease-in-out, opacity 0.5s ease-in-out 0.3s;
}
#banner:hover #MainPageSlideContainer,
#banner:focus-within #MainPageSlideContainer {
  transform: translateX(0);
  opacity: 1;
}
#MainPageSlideContainer a {
  color: var(--gold);
  text-decoration: none;
}
button.slideOption {
  background-color: white;
  border-left: none;
  border-right: none;
  color: var(--gold);
  font-size: 20pt;
  font-family: "Great Vibes";
}
.slideOption {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0.2em 0.5em;
  box-shadow: gray 0 10px 10px;
  border-top: var(--lightgold) solid 1pt;
  border-bottom: var(--darkgold) solid 2pt;
  transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.slideOption:hover,
.slideOption:focus {
  background-color: black;
  background-image: url("./components/assets/5Xyg.gif");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  transform: scale(1.1);
  outline: var(--lightgold) solid 1pt;
}

/*CSS controlled with JS*/
.displayNone {
  display: none;
}

/*animations*/

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes mainLightsOverlay {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  40% {
    background-image: linear-gradient(
      135deg,
      var(--specialOverLay),
      var(--specialPinkOverLay)
    );
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  75% {
    background-image: radial-gradient(
      var(--specialOverLay),
      var(--specialPinkOverLay)
    );
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
